body{
    background-image: linear-gradient(to right, green,red);
    background-color: blue;
    text-align: center;
    color:white
}
#counting{
    box-sizing: border-box;
    text-align: center;
    display: flex;
    margin-top: 50px;
    font-size: 40px;
    font-weight: bold;
}
.btn{
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 40px;
    font-weight: bold;
}
h1{
    margin-top: 25vh;
}