body{
    background-image: linear-gradient(to right,blue, indigo, violet);
    
}
.parent{
    position:relative; left:5px; top:15vh;
    text-align: center;
    color: white;

}
.btn{
   border: none;
   border-radius: 10px;
   position:relative; 
    top:30vh;left:80px;;
   display: flex;
   gap: 20px;
   justify-content: center;
   align-items: center;
}
.plus_btn{
    width:100px;
    height:30px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.minus_btn{
    width:100px;
    height:30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    padding-left: 10%;
}
